# OpenAI
OPENAI_API_KEY=your_openai_api_key

# Gmail API
GMAIL_CREDENTIALS_FILE=credentials.json
GMAIL_TOKEN_FILE=token.json
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=

# Twilio (WhatsApp)
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# Database
DUCKDB_PATH=data/finances.duckdb

#
DELIVERY_WEEKLY_LIMIT_CLP=
SUPERMERCADO_WEEKLY_LIMIT_CLP=

